version: '3.8'

services:
  spark:
    image: apache/spark:4.0.2-java21
    container_name: spark
    hostname: spark
    user: root
    entrypoint: [""]
    ports:
      - "0.0.0.0:18080:18080"
      - "0.0.0.0:18081:18081"
    environment:
      ZHIPU_API_KEY: ${ZHIPU_API_KEY:-fake_api_key}
    volumes:
      - ./workspace:/opt/spark/work-dir/workspace
    networks:
      - spark_net
    command: /bin/bash /opt/spark/work-dir/workspace/entrypoint.sh

volumes:
  master_data:

networks:
  spark_net:
    driver: bridge